<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>商品详情</title>
    <script src="js/mui.min.js"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/iconfont.css" />
    <link rel="stylesheet" href="css/app.css" />
    <script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/vue-resource.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body id="goods_panel">
	<header class="mui-bar mui-bar-nav shop-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">商品详情</h1>
	</header>
	<div class="mui-content goods-detail-content" >
		<panel></panel>
    </div>
    <nav class="mui-bar mui-bar-tab" style="box-shadow: none;">
    	<div class="mui-row" style="height: 100%;">
    		<div class="mui-col-sm-9 mui-col-xs-9" style="height: 100%;">
    			<span class="goods-number-span mui-text-justify text-orange">数量:</span>
    			<div class="mui-numbox" data-numbox-step='1' data-numbox-min='0'>
    			  <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
    			  <input class="mui-numbox-input" v-model="goods_number" type="number" />
    			  <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
    			</div>
    		</div>
				
    		<div class="mui-col-sm-3 mui-col-xs-3" style="height: 100%;">
    			
    			<button class="control-btn mui-btn-danger" @click="joinToCart()">加入购物车</button>
    		</div>
    	</div>
    </nav>
	<script type="text/x-template" id="panel-template">
		<div class="goods-panel">
	    	<div class="goods-thumb mui-text-center">
	    		<img :src="server + goods_info.goods_thumb" class="mui-media-object" width="210"/>
	    	</div>
	    	<div class="goods-price">
	    		<h4 class="mui-h4 text-muted">{{ goods_info.goods_name }}</h4>
	    		<h2 class="mui-h2 text-orange"><small class="mui-h5 text-orange">￥</small>{{ goods_info.goods_property[0].price }}</h2>	
	    	</div>
	    	<div class="goods-property">
	    		<h5 class="mui-h5 text-grey">产品属性信息</h5>
	    		<div class="property-panel">
	    			<div class="mui-row">
	    				<div class="mui-col-sm-6 mui-col-xs-6 mui-text-justify" v-for="item in goods_info.goods_property">
	    					<span class="text-grey">{{ item.value }}</span>
	    				</div>
	    				
	    			</div>
	    		</div>
	    	</div>
	    	
	    	<div class="goods-description">
	    		<h5 class="mui-h5 text-grey">商品描述</h5>
	    		<div class="mui-row">
	    			<div class="mui-col-xs-12 mui-col-sm-12 goods-desc">
	    				{{{ goods_info.goods_desc }}}
	    			</div>
	    		</div>
	    	</div>
	    </div>
	
	</script>
	<script type="text/javascript" charset="UTF-8">
		mui.init();
		mui.plusReady(function(){
			var self = plus.webview.currentWebview();
			var goods_id = self.goods_id;
			
			Vue.component('panel',{
	      		template:'#panel-template',
	      		data:function(){
	      			return {
	      				server:'http://119.29.5.221/',
	      				goods_info:[]
	      			}
	      		},
	      		created:function(){
	      			var nwaiting = plus.nativeUI.showWaiting('加载中...');
	      			var url = 'http://119.29.5.221/app/goods/'+goods_id;
	      			this.$http.get(url).then(function(response){
	      				var data = response.data.data;
	      				this.goods_info = data[0];
	      				nwaiting.close();
	      			},function(xhr){
	      				nwaiting.close();
	      				if(xhr.staut > 500){
			    			plus.nativeUI.toast('啊哦,出现了一些错误');
			    		}else if(xhr.status > 400){
			    			plus.nativeUI.toast('客户端异常');
			    		}else{
			    			plus.nativeUI.toast('数据加载失败,请检查网络是否正常');
			    		}
			    		mui.closeOpened();
	      			})
	      		}
	      	});
	      	var vm = new Vue({
	      		el:"#goods_panel",
	      		data:{
	      			goods_number:0,
	      		},
	      		methods:{
	      			test:function(){
	      				this.$http.get('http://shop.dev/api/shopcart/create',{
	      					params:{
	      						'goods_id':2
	      					},
	      					headers:{
	      						'Authorization':'Bearer '+plus.storage.getItem('token')
	      					}
	      				}).then(function(response){
	      					alert(JSON.stringify(response))
	      				},function(xhr){
	      					alert(JSON.stringify(xhr))
	      				})
	      			},
	      			joinToCart:function(){
	      				var token = plus.storage.getItem('token');
	      				if(token == null){
	      					plus.nativeUI.toast('您还没有登录哦')
	      					mui.openWindow({
	      						url:'login.html',
	      						id:'login'
	      					})
	      					return false;
	      				}
	      				var number = this.goods_number;
	      				if(number < 0){
	      					plus.nativeUI.toast('商品数量错误');
	      					return false;
	      				}
	      				if(number == 0){
	      					plus.nativeUI.toast('您还没有选择数量');
	      					return false;
	      				}
	      				//获取token
	      				var token = plus.storage.getItem('token');
	      				//加入购物车
	      				var url = 'http://119.29.5.221/api/shopcart/create';
	      				var nwaiting = plus.nativeUI.showWaiting();
	      				this.$http.get(url,{
	      					params:{
	      						user_id:plus.storage.getItem('user_id'),
	      						goods_id:goods_id,
	      						goods_number:number
	      					},
	      					headers:{
	      						Authorization:'Bearer '+token
	      					}
	      				}).then(function(response){
	      					nwaiting.close();
	      					var data = response.data;
	      					if(data.status == 200){
	      						plus.nativeUI.toast(data.message);
	      					}else{
	      						plus.nativeUI.toast(data.message);
	      					}
	      				},function(xhr){
	      					nwaiting.close();
							if(xhr.staut > 500){
				    			plus.nativeUI.toast('啊哦,出现了一些错误');
				    		}else if(xhr.status > 400){
				    			plus.nativeUI.toast('客户端异常');
				    		}else{
				    			plus.nativeUI.toast('数据加载失败,请检查网络是否正常');
				    		}
				    		mui.closeOpened();
	      				})
	      			}
	      		}
	      	})
		});
		
      	
      	
    </script>
</body>
</html>